.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    background: url('content/catbtn.jpg') no-repeat;
    cursor: pointer;
    width: 500px;
    height: 500px;
    border: none;
}